<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="socket.js"></script>
    <script>
        angular.module('myApp', [
            'btford.socket-io'
        ]).
                factory('socket', function (socketFactory) {
                    return socketFactory({
                        ioSocket: io.connect('http://localhost:9191/')
                    });
                }).
                controller('MessagesCtrl', function ($scope, socket) {
                    $scope.messages = [];
                    socket.forward('log', $scope);
                    $scope.$on('socket:log', function (ev, data) {
                        $scope.messages = $scope.messages.concat(data);
                    });
                }).
                controller('StreamsCtrl', function ($scope, socket) {
                    $scope.streams = [];
                    socket.forward('stream', $scope);
                    $scope.$on('socket:stream', function (ev, data) {
                        $scope.streams = $scope.streams.concat(data);
                    });
                });

    </script>
</head>
<body ng-app="myApp">
<div ng-controller="StreamsCtrl">
    <p ng-repeat="stream in streams">{{stream}}</p>
</div>

<div ng-controller="MessagesCtrl">
    <p ng-repeat="message in messages">{{message.message}}</p>
</div>

</body>
</html>